<div class="panel panel-primary">
  <div class="panel-heading">
    Client Queue
  </div>
  <div class="panel-content">
    <div class="panel-body">
      <table border="1">
        <tr>
          <th style="width: 200px;">Cust Acct</th>
          <th style="width: 200px;">Client Name</th>
          <th style="width: 200px;">Client SSN</th>
          <th style="width: 200px;">Beneficiary</th>
          <th style="width: 200px;">FA Number</th>
        </tr>
        <tr *ngFor="let item of queue">
          <td> {{item.custAccount}} </td>
          <td> {{item.clientName}} </td> 
          <td> {{item.ssn}} </td>
          <td> {{item.beneficiary}} </td>
          <td> {{item.faNumber}} </td>
        </tr>
      </table>
    </div>
    <div class="panel-body" style="overflow-y:auto; height: 450px;">      
      <table border="1">
        <tr>
          <th>State Name</th>
          <th>Abbreviation</th>
          <th>Postal Code</th>
        </tr>
        <tr *ngFor="let state of stateList">
          <td> {{state.name}} </td>
          <td> {{state.abbreviation}} </td>
          <td> {{state.postalCode}} </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="panel-footer"></div>
</div>