
    <h1>Counter</h1>

    <p>This is a simple example of an Angular component.</p>

    <p>Current count: <strong>{{ currentCount }}</strong></p>

    <button (click)="incrementCounter()">Increment</button>

    <button data-toggle="modal" data-target="#myModal">My Modal</button>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <p> some value</p>
                </div>
            </div>
        </div>
    </div>


